/.github/** @Mr-Drinking
/.journal/** @Mr-Drinking
/scripts/** @Mr-Drinking

/文章/人文社科（张哲源）/** @YzCJ-Bot @SaviorZhang211
/文章/创意写作（李洛霄）/** @YzCJ-Bot @LiLuoxiao
/文章/创意写作（叶静轩）/** @YzCJ-Bot @Mr-Eating
/文章/正文之外（张哲源、李洛霄）/** @YzCJ-Bot @SaviorZhang211 @LiLuoxiao
